<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="methods"
          name="C:/Users/sanan/IdeaProjects/WebAutomation_Framework_Learnings/src/test/java/com/saurabhSeleniumAuto/tests/TestvwoLogin_POM.java">
        <classes>
            <class name="com.saurabhSeleniumAuto.tests.TestvwoLogin_POM">
                <methods>
                    <include name="testLoginNegative"/>
                    <include name="testLoginNegative2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>